body{
  font-family: 'Montserrat';
  scroll-behavior: auto;
}

#title{
  background-color: #ff4c68;
  color: white;
  z-index: 0;
}
.container-fluid{
  padding: 3% 15% 7%;
}
h1{
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
.navbar-brand{
  font-size: 1.8rem;
  font-family: 'Ubuntu';
}

.nav-item{
  padding:0 18px;
}
.navbar{
  padding: 0 0 4.5rem;
}
.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat-light';
}
.title-img{
  width: 330px;
  transform: rotate(23deg);
  position: absolute;
  right: 24%;
}
.download-btn{
  margin: 5% 3% 5% 0;
}

.column-1{
  text-align: center;
  padding: 5%;
}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}
#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
#features div div p{
  color: #8f8f8f;
}

h2{
  font-family: 'Montserrat';
  font-size: 3rem;
  font-weight: bolder;
  line-height: 1.5;
}

h3{
  font-family: 'Montserrat';
  font-size: 1.5rem;
  font-weight: 900;
}

/* For testimonials */

#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonial-image{
  width: 15%;
  border-radius: 100%;
  margin: 24px;
}
#press{
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}
.press-images{
  width: 22%;
  padding: 5%;
}

.carousel-item{
    padding: 7% 15%;
}
#pricing{
  padding: 150px;
  text-align: center;
}
.pricing-col{
  padding: 3% 3%;
}
#cta{
  text-align: center;
  background-color: #ff4c68;
  padding: 7% 12%;
}
#cta h3{
  font-family: 'Montserrat';
  font-weight:900;
  color: #fff;
  font-size: 3rem;
  line-height: 1.4;
}
#footer{
  background-color: #fff;
  text-align: center;
  padding:170px 0 200px 0;
  line-height: 2;
}
#footer i{
  padding-left: 10px;
  cursor: pointer;
}

/* media queries*/
@media (max-width: 1028px) {
  #title{
    text-align: center;

  }
  .title-img{
    position: static;
    transform: rotate(0);
  }
}
